/* FULL SCREEN BACKGROUND */
.lobby-bg {
    width: 100vw;
    height: 100vh;
    background: url("../../assets/gomoku-bg (2).jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* UI CARD */
  .lobby-card {
    background: rgba(255, 255, 255, 0.85);
    padding: 32px;
    border-radius: 20px;
    width: 380px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .lobby-card h1 {
    margin-bottom: 10px;
  }
  
  .online {
    color: green;
  }
  
  .offline {
    color: red;
  }
  
  .create-room {
    display: flex;
    gap: 8px;
    margin: 15px 0;
  }
  
  .create-room input {
    flex: 1;
    padding: 8px;
  }
  
  .create-room button {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
  }
  /* chỉ áp dụng khi form có class vertical */
.create-room.vertical {
  flex-direction: column;
}

/* input chiếm full chiều ngang */
.create-room.vertical input {
  width: 100%;
}
